[submodule "external/claude-init"]
  path = external/claude-init
  url = https://github.com/garywu/claude-init.git
[submodule "external/admin"]
  path = external/admin
  url = https://github.com/garywu/admin.git
[submodule "external/qbit"]
	path = external/qbit
	url = https://github.com/garywu/qbit.git
