# ShellCheck configuration for dotfiles project

# Disable specific warnings globally
# Style checks
disable=SC2001  # See if you can use ${variable//search/replace} instead of sed
disable=SC2116  # Useless echo? Instead of 'cmd $(echo foo)', just use 'cmd foo'
disable=SC2126  # Consider using 'grep -c' instead of 'grep|wc -l'
disable=SC2250  # Prefer putting braces around variable references
disable=SC2312  # Consider invoking this command separately (for pipelines)

# Info level checks that are not always applicable
disable=SC1090  # Can't follow non-constant source
disable=SC1091  # Not following: was not specified as input
disable=SC2016  # Expressions don't expand in single quotes
disable=SC2162  # read without -r will mangle backslashes

# Shell dialect
shell=bash

# Set minimum severity level (error, warning, info, style)
# We focus on errors and warnings
severity=warning

# External sources - Tell ShellCheck about our sourced files
# This helps with cross-file variable detection
source-path=SCRIPTDIR
source-path=scripts
